
#navegadorLateral {
    position: absolute;
    top: 12%;
    left: 80%;
    height: 81%;
    width: 20%;
    background-color: tan;
    color: white;
}

#contenido {
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 80%;
    background-color: whitesmoke;
    color: black;
    overflow: auto;
}

.descripcion{
    font-size: 15px;
}

#tablaResumen tr:nth-child(odd){
    background-color: whitesmoke;
    color: black;
}

#tablaResumen tr:nth-child(even){
    background-color: whitesmoke;
    color: black;
}





















#piePagina{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 7%;
    width: 100%;
    background-color: steelblue;
    color: tan;
    vertical-align: middle;
}

.lineasDireccion{
    text-align: center
}

